body { margin:0;}
#map {
  height: 100%;
}

.main{
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
}

.overflow{
  height: 100%;
  overflow: auto;
}

select{
  outline: none;
}

option,option:hover,option:focus{
  outline: none !important;
}
